.main-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    min-height: 100%;

    @include tablet {
        flex-wrap: nowrap;
    }
}

.main-aside {
    width: 100%;

    @include tablet {
        width: 30%;
        max-width: 400px;
    }
}

.main-content {
    width: 100%;

    @include tablet {
        width: 70%;
    }
}

// Old shitty browsers

.no-flexbox, .no-flexboxlegacy, .no-flexwrap {
    .main-section {}

    .main-aside {
        width: 100%;

        @include tablet {
            width: 30%;
            max-width: 400px;
            float: left;
        }
    }

    .main-content {
        width: 100%;

        @include tablet {
            width: 70%;
            float: right;
        }
    }
}

// Nodes

.node-type-page {
    .node-content {
        display: flex;
        flex-wrap: wrap;

        @include desktop {
            flex-wrap: nowrap;
        }


        .node-content-left {
            width: 100%;

            @include desktop {
                width: 40%;
            }
        }

        .node-content-right {
            width: 100%;

            &.body {
                @include desktop {
                    width: 60%;
                }
            }
        }
    }
}