//// Global Variables

// Breakpoints
$bp_desktop: 1080px;
$bp_phablet: 650px;

// Colors
$color_primary: #3154AC;
$color_secondary: #D46060;
$white: #ffffff;
$black: #000000;
$darkgrey: #333333;
$lightgrey: #999999;
$shade: #cccccc;

// Typography

$font_sanserif: "Montserrat", sans-serif;
$font_handwritting: "Chalk", "Just Me Again Down Here", cursive;
$font_base_size: 0.8rem;
$font_line_height: 1.3rem;
$font_base_weight: 100;
$font_bold: 700;

// P element
$p_size: $font_base_size;
$p_weight: $font_base_weight;
$p_vertical_margin: 0 0 1rem 0;
$p_mobile_size: 1rem;

// Headings
$h1_size: $font_base_size * 1.4;

$h2_size: $font_base_size;