// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

.border-bottom {
    border-bottom: 1px solid $hr-border-color;
    padding-bottom: $hr-margin;
}