// Site phone
.block-block-1 {
    h2 {
        color: $primary-color;
    }
}

.block-block-6 {
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 160px;
    opacity: .9;

    @media #{$medium-only} {
        display: none;
    }
}