.block-system-main-menu {
    ul.menu {
        float: right;

        @include inline-list;

        li {
            //text-transform: uppercase;
       
        }

        li a {
            color: $white;
            text-shadow: 1px 1px 3px $black;
            border-bottom: 3px solid transparent;

            &:hover, &.active {
                border-bottom: 3px solid $primary-color;
            }
        }
    }
}