.node-front-page {
    @media #{$medium-up} {
        .group-left {
            width: 60%;
            float: left;
        }

        .group-right {
            width: 40%;
            float: right;
            text-align: right;
        }
    }
}

.node-type-producto {
    .pane-node-field-product-price {
        font-size: rem-calc(22px);
        margin: 10px 0;
    }
}