// Global Styling

a {
    color: $color_secondary;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font_serif;
    font-size: $font_base_size;
    font-weight: $font_light;
    line-height: $font_line_height;
    color: $font_base_color;
}

body, html {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: $font_serif;
}

h1 {
    font-size: $h1_size;
    margin-bottom: 1.5rem;
    font-weight: $font_light;
}

h2 {
    margin: 0.8rem 0;
}

iframe {
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

input[type=submit], button {
    padding: 10px;
    background: #eee;
    color: $darkgrey;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: $font_base_size;

    &:hover {
        background: darken(#eee, 10%);
    }
}

input[type=text], input[type=email], input[type=password] {
    padding: 8px;
    border: none;
    margin: 10px 0;
    background: #f5f5f5;
    border: 1px solid #ccc;
    font-size: $font_base_size;
    font-family: $font_sanserif;
    color: $darkgrey;
    max-width: 100%;
}

textarea {
    background: #f5f5f5;
    margin: 10px 0;
    max-width: 100%;
    border: 1px solid #ccc;
    font-size: $font_base_size;
    font-family: $font_sanserif;
    color: $darkgrey;
}

label {
    color: $darkgrey;
    display: block;
    padding: 5px 0 !important;
}

p {
    font-size: $p_size;
    font-weight: $p_weight;
    margin: $p_vertical_margin;
    color: $darkgrey;
}

small {
    font-family: $font_sanserif;
    font-size: $p_size * 0.7;
}

strong {
    font-weight: $font_bold;
}

// Scrollbar

// Main Section

.main-content {
    padding-top: 30px;

    .node {
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// Aside
.main-content-box-inner {
    padding-top: 20px;
}

.main-aside {
    a {
        &:hover {
            text-decoration: underline;
        }
    }

    .site-name {
        padding: 5px 0 5px 0;
        font-size: 2rem;
        line-height: 1;
        font-family: $font_sanserif;

        @include tablet {
            font-size: 3rem;
        }


        a {
            color: $darkgrey;
            text-decoration: none;
        }
    }
}

// Navidation

.main-nav.closed {
    margin-top: 20px;

    .menu li {
        font-family: $font_sanserif;
    }

    .menu a {
        &:hover, &.active {
            font-weight: bolder;
        }
    }

    .menu span {
        &:hover {
            text-decoration: underline;
        }
    }

    .menu > li {
        font-size: $p_size;
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
        font-weight: 400;
    }

    .menu > li a, .menu span {
        color: $darkgrey;
    }

    .menu li ul {
        li {
            font-size: 1.1rem;
            margin-bottom: 0;
        }

        a, span {
            cursor: pointer;
            color: $color_secondary;
        }

        li.active a.active, a:hover {
            text-decoration: underline;
        }
    }

    .menu li ul ul {
        padding-left: 10px;
    }

    .menu a {
        display: block;
        text-decoration: none;
    }
}

.main-nav {
    ul ul {
        min-height: 0;
        height: 0;
        opacity: 0;
        transition: min-height 500ms ease-in-out;
        position: relative;
        z-index: -999999;
    }

    .collapsed {
        & > ul {
            min-height: auto;
            height: auto;
            opacity: 1;
            transition: opacity 500ms ease-in-out;
            z-index: 0 !important;
        }
    }

    .active-trail > ul {
        min-height: auto !important;
        height: auto !important;
        opacity: 1 !important;
        z-index: 0 !important;
    }
}

// Toogle
.nav-toggle {
    margin-top: 5px;
    font-size: 1.6rem;
    text-align: center;
    background: darken($color_primary, 10%);
    color: $white;
    padding: 8px 0;
    width: 100%;
    display: block;
    text-decoration: none;
}

.js .nav-collapse.opened {
    max-height: inherit !important;
}

nav.nav-collapse.opened {
    text-align: center;
    background: lighten($color_primary, 5%);

    li {
        text-align: center;
        font-family: $font_sanserif;
        margin: 0;
        padding: 0;
        font-size: 1.6rem;
    }

    li ul {
        background: lighten($color_primary, 10%);
    }

    li ul ul {
        background: lighten($color_primary, 20%);
    }

    a, span {
        color: $white;
        padding: 10px 0;
        text-decoration: none;
        display: block;

        &:hover, &:focus {
            background: darken($color_primary, 10%);
        }
    }
}

// Main Content

.field-name-body {
    margin-bottom: 3rem;
}

/// Project display

/// Blocks

#block-block-1 {
    p {
        margin-bottom: 0;
    }
}

/// Views

.view-books {
    .views-row {
        margin-bottom: 1.5rem;
    }

    .view-filters {
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #ccc;
    }

    #edit-submit-books {
        margin-top: 4.3rem;
    }
}

/// Helpers

.hide-small {
    display: none;

    @include tablet {
        display: block !important;
    }
}