// Non-modular or client styles for .l-footer region.

section.l-footer-columns {
    padding: 20px 0;
    background: $oil;
    color: $iron;

    p, h2, h3, li {
        color: $iron;
    }

    a {
        color: $white;

        &:hover {
            color: $iron;
        }
    }
}