// Non-modular or client styles for .l-header region.

#header {
    padding: 10px 0;
    background: $white;
    border-bottom: 1px solid $iron;

    @media #{$large-up} {
        padding: 35px 0;
    }

    .logo-container {
        @media #{$large-up} {
            position: absolute;
            left: 50%;
            top: 20px;
            margin-left: -110px;
        }
    }

    .menu-toggle {
        text-align: right;

        a {
            padding: 30px 0px 20px 20px;
            display: block;
        }

        .fa {
            font-size: rem-calc(32);
        }
    }
}