// Non-modular or client styles for the .l-content region.

section.l-search {
    background: $white-smoke;
    padding: 30px 0;
}

section.breadcrumb {
    background: $white-smoke;
}

main.l-main {
    padding: rem-calc(20 0 0 0);
    background-color: $white;
}

section.l-messages {
    background-color: $white;
    padding: 20px;
    margin: 0;

    .alert-box {
        margin: 0;
    }
}

.not-front .page-content {
    //padding: rem-calc(20 0);
}

//// Commerce pages using semantic grid

.page-checkout {
    .page-content {
        @include grid-row;

        padding: rem-calc(20 0);
    }

    .page-content > form {
        @include grid-column(12);
    }
}

.page-cart, .page-user {
    .page-content {
        @include grid-row;

        padding: rem-calc(20 0);
    }

    .page-content > div, .page-content form {
        @include grid-column;
    }
}

.page-contacto {
    .page-content {
        padding: rem-calc(20 0);
    }
}