.main-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    min-height: 100%;
    max-width: 1160px;
    padding: 20px;
    margin: auto;

    @include tablet {
        flex-wrap: nowrap;
        padding: 40px;
    }
}

.main-aside {
    width: 100%;
    margin-top: 20px;

    @include tablet {
        margin-top: 40px;
        width: 20%;
        max-width: 400px;
        padding-right: 20px;
        margin-left: 40px;
    }
}

.main-content {
    width: 100%;

    @include tablet {
        width: 75%;
    }
}

// Old shitty browsers

.no-flexbox, .no-flexboxlegacy, .no-flexwrap {
    .main-section {}

    .main-aside {
        width: 100%;

        @include tablet {
            width: 30%;
            max-width: 400px;
            float: left;
        }
    }

    .main-content {
        width: 100%;

        @include tablet {
            width: 70%;
            float: right;
        }
    }
}

// Nodes