.view-shop {
    .product-teaser-item {
        margin-bottom: 20px;
        text-align: center;

        img {
            margin-bottom: 10px;
        }

        h3 {
            margin-bottom: 5px;
        }

        .product-teaser-price {
            color: #888;
        }
    }
}

.node-product {
    h4 {
        margin-bottom: 10px;
    }

    .product-images {
        margin-bottom: 20px;

        .cloud-zoom-gallery-thumbs {
            margin-top: 10px;
        }
    }

    .product-price {
        font-size: 18px;
        margin: 15px 0 10px 0;
    }

    .print-small-print {
        margin-top: 5px;
        font-size: 11px;
    }

    .language-switcher {
        margin-bottom: 10px;

        a {
            font-weight: bolder;
            padding: 5px;
            background: #ececec;
            border: 1px solid #dadada;

            &:hover, &.active {
                background: $white;
            }

        }
    }

    .language-description-wrapper {
        position: relative;
    }

    .language-description {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity .5s ease-in-out;

        &.selected {
            opacity: 1;
        }
    }

    .field-name-field-product-year, .field-name-field-product-edition, .field-name-field-product-quality-paper {
        margin-bottom: 10px;
    }

    .cloud-zoom-gallery-thumbs {
        .cloud-zoom-gallery {
            display: inline-block;
            margin-right: 10px;

            #wrap {
                cursor: zoom-in;
            }
        }

        .cloud-zoom-gallery:first-child:last-child {
            display: none;
        }
    }
}

#views-form-commerce-cart-form-default {
    table {
        width: 100%;
    }
}

.cart-block {
    margin-bottom: 15px;
}