// Non-modular or client styles for .l-footer region.

.section-footer {
    background: $vapor;
    padding: 1.5rem 0;
    color: $body-font-color;

    h2, h3 {
        color: $body-font-color;
    }

    iframe {
        max-height: 400px;
    }

    a {
        color: $body-font-color;

        &:hover {
            text-decoration: underline;
        }
    }
}