.page-checkout-review {
    #edit-commerce-payment {
        #edit-commerce-payment-payment-method {
            @include grid-row(nest-collapse);

            .form-item {
                @include grid-column(4);

                label {
                    background: $white;
                    width: 100%;
                    padding: 20px;
                }

                input[type=radio] {
                    display: none;
                }

                input:checked + label {
                    background: $gainsboro;
                }
            }
        }

        #payment-details. inner {
            margin-top: 10px;
            padding: 10px;
            background: $white;
            text-align: center;
        }
    }
}