/// Module overrides

/// Cloud zoom

.cloud-zoom-container {
    #wrap {
        max-width: 100%;
    }

    .cloud-zoom-gallery-thumbs {
        float: none !important;

        .cloud-zoom-gallery {
            display: inline-block;
            padding: rem-calc(10 10 10 0);
        }
    }
}

/// Dropdown menu

.top-bar-section .has-dropdown .dropdown li.has-dropdown > a::after {
    margin-top: -12px;
}