.slideshow-carousel {
    .owl-theme .owl-controls {
        margin-top: 0;
        position: absolute;
        bottom: 10px;
        width: 100%;
    }

    .owl-controls span {
        background: $white !important;
    }
}

.owl-carousel-4-columns {
    .owl-item {
        padding: 0 0 0 20px;
    }

    .owl-item:first-child {
        margin-left: -20px;
    }
}