.page-taxonomy {
    .product-extra {
        background: $smoke;
        padding: $hr-margin 0;
    }
}

.page-product {
    .product-extra {
        background: $smoke;
        padding: $hr-margin 0;
    }

    .product-right {
        background: $smoke;

        .product-right-inner-padding {
            padding: rem-calc(15 5);
        }
    }

    .field-type-commerce-product-reference {
        .form-type-radio {
            border: 1px solid $base;
            margin: 2px 0;
            display: inline-block;
            text-align: center;

            label {
                margin: 0;
                color: $base;
                font-size: rem-calc(13);
                padding: rem-calc(3 15 3 15);

                &:hover {
                    background: $base;
                    color: $white;
                }
            }
        }

        input[type=radio] {
            display: none;
        }

        input:checked + label {
            background: $base;
            color: $white;
        }
    }
}