.page-taxonomy {
    .product-extra {
        background: $smoke;
        padding: $hr-margin 0;
    }
}

.page-product {
    .page-content {
        margin-top: rem-calc(20);
    }

    .product-extra {
        background: $smoke;
        padding: $hr-margin 0;
    }

    .product-right {
        background: $smoke;

        .product-right-inner-padding {
            padding: rem-calc(15 0);
        }
    }

    .product-left {
        .panel-separator {
            margin: rem-calc(30 0);
        }
    }

    .field-type-commerce-product-reference {
        .form-type-radio {
            border: 1px solid $base;
            margin: 2px 0;
            display: inline-block;
            text-align: center;

            label {
                margin: 0;
                color: $base;
                font-size: rem-calc(13);
                padding: rem-calc(3 15 3 15);

                &:hover {
                    background: $base;
                    color: $white;
                }
            }
        }

        input[type=radio] {
            display: none;
        }

        input:checked + label {
            background: $base;
            color: $white;
        }
    }
}

.page-search {
    .search-left {
        .facetapi-facetapi-checkbox-links {
            li {
                display: block;
                margin: 0;
            }

            input[type=checkbox] {
                margin: 0 10px 0 0;
            }
        }
    }
}