/// Product search

#views-exposed-form-products-search-api-page-1 {
    input[type=text] {
        margin-bottom: 0;
    }
}

.views-exposed-widget {
    .columns {
        padding: 0;
    }
}

.views-exposed-form .views-exposed-widget {
    float: none;
    padding: 0;
}

.views-exposed-widgets {
    margin: 0;
}

.views-exposed-form .views-exposed-widget .form-submit {
    margin: 0;
}