.jcarousel-container {}
.jcarousel-container-horizontal {width:720x; height: 130px; position: relative; margin: 15px auto;}
div.views_slideshow_jcarousel_pager { overflow: visible; width: 623px; margin: 10px 30px;}


  .jcarousel-clip {
    overflow: hidden;
}

  .jcarousel-clip-horizontal {

}


  .jcarousel-item {
    width: 130px;
    height: 130px;
}
.jcarousel-item img {margin: 0 auto !important;}

  .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
    width: 130px !important;
}

  .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

  .jcarousel-item-vertical {
    margin-bottom: 10px;
}

  .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
  .jcarousel-next-horizontal {
    position: absolute;
    top: 25px;
    right: -35px;
    width: 40px;
    height: 130px;
    cursor: pointer;
    background-image: url('right.png');
    background-repeat: no-repeat;
}
.jcarousel-next-horizontal:hover { }

.jcarousel-next-horizontal:active {
    background-position: -64px 0;
}
  .jcarousel-prev-horizontal:hover { }
  .jcarousel-prev-horizontal {
    position: absolute;
    top: 25px;
    left: -40px;
    width: 40px;
    height: 130px;
    cursor: pointer;
    background-image: url('left.png');
    background-repeat: no-repeat;
}

