//// YOUR CUSTOM STYLES GO HERE ////
h1, h2, h3, h4 {
    font-family: $asap;
    font-style: italic;
    margin-top: 0;
}

section, footer {
    @include respond(all-phones) {
        padding: 20px 0;
    }


    padding: 40px 0;

    h2 {
        @include font-size(36px);

        margin-bottom: 15px;
    }
}

p {
    line-height: 1.5em;
}

form label {
    margin-bottom: 0;
}

strong {
    font-weight: 600 !important;
}

button, .btn {
    @include border-radius(4px);

    background: $primary-color !important;
    color: #fff !important;
    border-bottom: 3px solid lighten($primary-color, 15%) !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;

    &:hover, &:focus {
        background: lighten($primary-color, 15%) !important;
        border-bottom: 3px solid transparent !important;
    }
}

section img {
    @include border-radius(4px);
}

///// NAV
.mobile-bar {
    display: none;
    background: $white;

    .menu-mobile {
        float: right;
        margin-top: 20px;
    }

    .logo-mobile {
        float: left;
        margin-top: 10px;
    }
}

.logo {
    img {
        margin-top: 10px;
    }
}

@include respond("max-width: 768px") {
    .desktop-nav {
        display: none;
    }

    .mobile-bar {
        display: block !important;
    }
}


.desktop-nav {
    background: $white;
    transition: all 1s ease-in-out;
}

.nav {
    text-align: right;

    .menu {
        float: right;
    }

    .menu li {
        font-family: $asap;
        font-style: italic;
        float: left;
        padding: 0;
        margin: 0;

        @include font-size(18px);
    }

    .menu li a {
        padding: 32px 16px;
        display: block;
        color: #555555;

        &:hover {
            color: $primary-color;
        }
    }
}

#popupnav-fullscreen ul > li.first-level {
    margin: 15px auto !important;
}

///// Hero
.front-hero {
    height: 360px;

    @include hidden(all-phones);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    h2 {
        text-shadow: 1px 1px 52px #333;
        color: $white;

        @include font-size(50px);

        margin-bottom: 20px;

        @include respond(all-phones) {
            @include font-size(30px);
        }
    }

    .hero-content__text {
        padding: 40px 0;

        p, a {
            text-shadow: 1px 1px 52px #333;
            color: $white;
            font-family: $asap;
            font-style: italic;
            line-height: 1.3em;

            @include font-size(24px);

            @include respond(all-phones) {
                @include font-size(18px);
            }
        }

        a {
            font-weight: bolder;
        }
    }

    h2, p {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        -webkit-transition-delay: 500ms;

        /* Safari */
        transition-delay: 500ms;
        opacity: 0;
    }

    h2.active, p.active {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}

//// Title
.title {
    background: $secondary-color;

    h1 {
        color: $white;
        text-align: center;

        @include font-size(36px);

        @include respond(all-phones) {
            font-size: 28px !important;
        }


        padding: 20px 0;
    }
}

/// About
.about {
    h2 {
        color: $primary-color;
    }

    #block-block-5 {
        @include hidden(all-phones);
    }

    #block-block-5 p {
        @include font-size(20px);

        width: 80%;
        color: #848484;
        margin-left: auto;
        line-height: 1.5em;
        font-family: $asap;
        text-align: right;

        i:first-child {
            -ms-transform: rotateY(-180deg);

            /* IE 9 */

            -webkit-transform: rotateY(-180deg);

            /* Chrome, Safari, Opera */

            transform: rotateY(-180deg);
        }

        i {
            font-size: 38px;
            text-indent: 4px;
            line-height: 0;
            color: #D2D2D2;
        }
    }

    #block-block-5 p:last-child {
        border-bottom: 1px solid #EAEAEA;
        padding-bottom: 10px;
    }

    .about-bottom {
        margin-top: 10px;
    }
}

.services {
    background: $primary-color;

    p, h2 {
        color: $white;
    }

    p {
        font-weight: 400;
    }

    img {
        border: 4px solid #fff;
    }
}

/// Team View
.view-team {
    .views-row {
        @include fancytiles(4, 3, 1);

        margin: 20px 0;
    }

    @include respond(tablets) {
        .views-row:nth-child(3n+1) {
            clear: both;
        }

        .views-row:nth-child(4n+1) {
            clear: none !important;
        }
    }


    @include respond("min-width: 1080px") {
        .views-row:nth-child(4n+1) {
            clear: both;
        }
    }
}

/// services
/// News
.view-news {
    .views-row {
        @include fancytiles(3, 2, 1);

        min-height: 350px;
        height: auto;
        margin-bottom: 20px;
    }
}

/// No front pages
.not-front .page-content {
    background: #F2F2F2;
}

/// Article page
.field-name-field-article-image {
    .field-item {
        @include fancytiles(3, 2, 1);

        height: 420px;
    }
}

/// Footer
.footer {
    background: #E0E0E0;
}

/// Credits
.credits {
    padding: 20px 0;
    background: #333;
    color: #fff;

    a {
        color: #999;

        &:hover {
            color: #ccc;
        }
    }

    @include font-size(12px);

    text-align: center;
}

/// Helpers
.fixed {
    width: 100%;
    z-index: 50;

    @include respond(all-phones) {
        position: fixed !important;
    }
}

.text-right {
    text-align: right;
}

//// Tarifes

#prices {
    background-image: url("../img/prices_bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;

    h2, h3, p {
        color: $white;
    }
}

table.price-table {
    border: none;
    background: none;
    opacity: .9;
    display: table !important;
    table-layout: fixed;
    width: 100%;

    @media screen and (min-width: 1024px) {
        width: 48%;
        float: left;
        margin-right: 1%;

        &:last-child {
            margin-right: 0;
        }
    }

    thead {
        background: none;

        tr {
            background: none;

            th {
                background: none;
                color: $white;
                text-shadow: -1px 1px 3px #000;
                border-top: none;
            }
        }
    }

    caption {
        color: $white;
        font-family: $asap;
        font-size: 22px;
        font-style: italic;
        text-shadow: -1px 1px 3px #000;
    }

    th, td {
        font-size: 14px;
    }

    th {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    tr {
        background: $white;
        color: #333;
    }

    tr {
        width: 100%;
    }

    h5 {
        font-size: 12px;
        text-align: center;
        padding: 1rem .5rem;
        font-weight: 400;
    }
}